################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ffsplit.github.io/v15/.suo
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
